<%- include('header') %>

<div class="container">
<h1>About Us</h1> <br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit temporibus voluptate blanditiis corporis unde, repellat totam doloribus ipsum alias delectus. Facilis consequuntur sequi, recusandae saepe illum debitis reiciendis ex ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur quod nobis, tempora a eveniet ut soluta totam nihil ipsam incidunt, repudiandae animi in odio. Eveniet rem, veniam ea reiciendis odit, dolorum blanditiis laborum quia ab voluptates illo modi corporis mollitia qui, ducimus error nam? Reiciendis in minus excepturi possimus atque et, accusantium iusto, quibusdam molestias aliquid ipsam. Odit nobis in quibusdam, repellendus quas fuga? Inventore, adipisci placeat iure facilis nobis autem rem ipsam neque tempora laborum voluptates minima dolorem quaerat, pariatur commodi. A doloremque tempore at laboriosam quas quo placeat aliquam fugiat dolorum cum, libero atque rem, vitae saepe!</p></div>

<%- include('footer') %>